[submodule "zeromq/SimulinkCoSimulationExample"]
	path = zeromq/SimulinkCoSimulationExample
	url = https://github.com/mathworks/SimulinkCoSimulationExample.git
[submodule "zeromq/libzmq"]
	path = zeromq/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "zeromq/cppzmq"]
	path = zeromq/cppzmq
	url = https://github.com/zeromq/cppzmq.git
